@import 'normalize.css';

:root{
    --layout-bg: #0F1A2E;
    --player-bg: #172f4f;
    --sidebar-bg: #1B2639;
    --sidebar-popup-bg: #2a4162;
    --primary-bg: #203d65;
    --alpha-layout-bg: rgba(29,55,90,0.8);
    --queue-player-popup-bg: #0b274c;
    --blur-queue-bg: rgba(29,55,90,0.9019607843137255);
    --purple-primary: #158370;
    --link-text-hover: #429eff;
    --chart-bg-img-alpha: rgba(29,55,90,0.9);
    --linear-gradient-bg: linear-gradient(180deg,#224472,#244572);
    --navigation-text: #dadada;
    --white-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button, input{
    border: none;
    outline: none;
    background-color: transparent;
}


a{
    text-decoration: none;
    color: var(--black);
}

//fonts embedded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 700;
}

// scroll bar

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}