.wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--player-bg);

    z-index: 2;
}

.player{
    height: var(--height-player-pc);
    padding: 0 20px;
}