.wrapper{
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-color: var(--layout-bg);
}

.container{
    flex: 1;
    margin-left: 240px;
}

.content{
    padding: 0 60px;
    padding-top: 70px;
    height: 100vh;
    overflow-y: scroll;
}