.header{
    position: fixed;
    top: 0;
    width: calc(100% - var(--width-sidebar));
    height: 70px;
    z-index: 2;
    padding: 0 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 3px 5px rgba(3, 3, 3, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions{
    display: flex;
    align-items: center;
}

.action-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #d8d8d8;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;

    &:hover{
        opacity: 0.9;
    }
}

.action-item + .action-item{
    margin-left: 12px;
}

.menu-item:hover{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.title{
    color: #dadada;
    & span {
        margin: 0;
        font-family: "Inter";
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        display: block;

    }

}

.icon{
    color: #dadada;
    font-size: 2rem !important;
}