
.search-box{
    width: var(--width-search);
    border-radius: 8px;
    padding: 16px 10px;
    max-height: 380px;
    overflow: auto;
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    background-color: var(--primary-bg);
}

.search-heading{
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px 8px;
    color: var(--white-color);
}
.search-wrapper{
    display: flex;
    align-items: center;
    width: var(--width-search);
    height: 40px;
    border-radius: 999px;
    background-color: var(--sidebar-bg);
    color: #dadada;
    position: relative;
}

.search-icon,.clear-icon,.loading-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search-input{
    font-size: 1.4rem;
    color: #eee;
    flex: 1;
}

.clear-icon{
    position: absolute;
    right: 0;
}

.loading-icon{
    position: absolute;
    right: 0;

    & > span{
        width: 16px !important;
        height: 16px !important;
    }
}